In [1]:
import pandas as pd

In [3]:
!dir

 Volume in drive C is OSDisk
 Volume Serial Number is 4836-71B9

 Directory of C:\Users\rahulgup\Downloads\Kaggle_codes

04/30/2020  07:29 PM    <DIR>          .
04/30/2020  07:29 PM    <DIR>          ..
04/30/2020  07:29 PM    <DIR>          .ipynb_checkpoints
04/30/2020  03:18 PM           216,309 covid19-global-forecasting-week-2.zip
04/30/2020  07:28 PM           115,351 submission.csv
04/30/2020  07:28 PM           365,792 test.csv
04/30/2020  07:28 PM           783,368 train.csv
04/30/2020  07:29 PM                72 Untitled.ipynb
               5 File(s)      1,480,892 bytes
               3 Dir(s)  138,435,411,968 bytes free

In [89]:
train = pd.read_csv("train.csv", keep_default_na=False)

In [9]:
test = pd.read_csv("test.csv", keep_default_na=False)

In [10]:
submission = pd.read_csv("submission.csv", keep_default_na=False)

In [16]:
print(
    train.shape, test.shape, submission.shape
)

((20580, 6), (12642, 4), (12642, 3))

In [90]:
train.dtypes

Id                  int64
Province_State     object
Country_Region     object
Date               object
ConfirmedCases    float64
Fatalities        float64
dtype: object

In [14]:
train.head(10)

   Id Province_State Country_Region        Date  ConfirmedCases  Fatalities
0   1                   Afghanistan  2020-01-22             0.0         0.0
1   2                   Afghanistan  2020-01-23             0.0         0.0
2   3                   Afghanistan  2020-01-24             0.0         0.0
3   4                   Afghanistan  2020-01-25             0.0         0.0
4   5                   Afghanistan  2020-01-26             0.0         0.0
5   6                   Afghanistan  2020-01-27             0.0         0.0
6   7                   Afghanistan  2020-01-28             0.0         0.0
7   8                   Afghanistan  2020-01-29             0.0         0.0
8   9                   Afghanistan  2020-01-30             0.0         0.0
9  10                   Afghanistan  2020-01-31             0.0         0.0

In [13]:
test.head(10)

   ForecastId Province_State Country_Region        Date
0           1                   Afghanistan  2020-03-19
1           2                   Afghanistan  2020-03-20
2           3                   Afghanistan  2020-03-21
3           4                   Afghanistan  2020-03-22
4           5                   Afghanistan  2020-03-23
5           6                   Afghanistan  2020-03-24
6           7                   Afghanistan  2020-03-25
7           8                   Afghanistan  2020-03-26
8           9                   Afghanistan  2020-03-27
9          10                   Afghanistan  2020-03-28

In [15]:
submission.head(10)

   ForecastId  ConfirmedCases  Fatalities
0           1               1           1
1           2               1           1
2           3               1           1
3           4               1           1
4           5               1           1
5           6               1           1
6           7               1           1
7           8               1           1
8           9               1           1
9          10               1           1

### K-Means clustering method considers two assumptions regarding the clusters â€“ first that the clusters are spherical and second that the clusters are of similar size.
- Spherical assumption helps in separating the clusters when the algorithm works on the data and forms clusters. If this assumption is violated, the clusters formed may not be what one expects.
- On the other hand, assumption over the size of clusters helps in deciding the boundaries of the cluster. This assumption helps in calculating the number of data points each cluster should have.
- This assumption also gives an advantage. Clusters in K-means are defined by taking the mean of all the data points in the cluster. With this assumption, one can start with the centers of clusters anywhere.
- Keeping the starting points of the clusters anywhere will still make the algorithm converge with the same final clusters as keeping the centers as far apart as possible.

In [27]:
train.shape, len(train.Id.unique())

((20580, 6), 20580)

In [28]:
train.shape, len(train.Province_State.unique())

((20580, 6), 126)

In [29]:
train.shape, len(train.Country_Region.unique())

((20580, 6), 173)

In [30]:
train.shape, len(train.Date.unique())

((20580, 6), 70)

In [31]:
train.shape, len(train.ConfirmedCases.unique())

((20580, 6), 1536)

In [32]:
train.shape, len(train.Fatalities.unique())

((20580, 6), 328)

In [40]:
train.describe()

                 Id  ConfirmedCases    Fatalities
count  20580.000000    20580.000000  20580.000000
mean   14685.500000      514.939116     21.080952
std     8487.230117     4541.261768    287.758197
min        1.000000        0.000000      0.000000
25%     7335.750000        0.000000      0.000000
50%    14685.500000        0.000000      0.000000
75%    22035.250000       35.000000      0.000000
max    29370.000000   105792.000000  12428.000000

In [63]:
df = train.groupby(train.Province_State).nunique()
df[df.Province_State > 1]

Empty DataFrame
Columns: [Id, Province_State, Country_Region, Date, ConfirmedCases, Fatalities]
Index: []

In [91]:
df = train.groupby(train.Country_Region).nunique()
df[df.Province_State > 1]

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities
Country_Region,,,,,,
Australia,560,8,1,70,112,9
Canada,700,10,1,70,120,20
China,2310,33,1,70,657,83
Denmark,210,3,1,70,51,17
France,700,10,1,70,87,27
Netherlands,280,4,1,70,47,24
US,3780,54,1,70,540,108
United Kingdom,490,7,1,70,67,23

In [102]:
df[df.Province_State > 1].index

Index([u'Australia', u'Canada', u'China', u'Denmark', u'France',
       u'Netherlands', u'US', u'United Kingdom'],
      dtype='object', name=u'Country_Region')

In [107]:
# train[train.Country_Region == "US"][train.Province_State == ""]
for i in df[df.Province_State > 1].index:
    z = [x for x in train[train.Country_Region == i].Province_State.unique() if x == ""]
    k = []
    if z:
        k = train[train.Country_Region == i].Province_State.unique()
    print(i, z, k)

('Australia', [], [])
('Canada', [], [])
('China', [], [])
('Denmark', [''], array(['Faroe Islands', 'Greenland', ''], dtype=object))
('France', [''], array(['French Guiana', 'French Polynesia', 'Guadeloupe', 'Martinique',
       'Mayotte', 'New Caledonia', 'Reunion', 'Saint Barthelemy',
       'St Martin', ''], dtype=object))
('Netherlands', [''], array(['Aruba', 'Curacao', 'Sint Maarten', ''], dtype=object))
('US', [], [])
('United Kingdom', [''], array(['Bermuda', 'Cayman Islands', 'Channel Islands', 'Gibraltar',
       'Isle of Man', 'Montserrat', ''], dtype=object))

In [93]:
# df["US" in df.Country_Region]#.Province_State.unique()

In [69]:
df = train.groupby([train.Province_State, train.Country_Region]).nunique()
# df = train.groupby(train.Country_Region).nunique()
df[df.Province_State == 1]

Empty DataFrame
Columns: [Id, Province_State, Country_Region, Date, ConfirmedCases, Fatalities]
Index: []

In [108]:
train['Province_State'] = train.apply(
    lambda row: row['Country_Region'] if row['Province_State'] == "" else row['Province_State'],
    axis=1
)

In [109]:
# train.groupby([train.Province_State, train.Country_Region]).nunique()

In [110]:
len(train.Province_State.unique()), len(train.Country_Region.unique())

(293, 173)

In [64]:
train.Date.unique()

array(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
       '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
       '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
       '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10',
       '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14',
       '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18',
       '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
       '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
       '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01',
       '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
       '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
       '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13',
       '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
       '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21',
       '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
       '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
       '2020-03-30', '2020-03-31'], dtype=object)

In [115]:
[x for x in train.Fatalities.unique() if x == float("NaN")]

[]

In [116]:
[x for x in train.ConfirmedCases.unique() if x == float("NaN")]

[]

In [124]:
df2 = train.groupby(train.Country_Region).sum()
df2["country"] = df2.index.values

In [133]:
df2 = df2[["country", "ConfirmedCases", "Fatalities"]]

In [135]:
df2["case_rank"] = df2["ConfirmedCases"].rank()
df2["fat_rank"] = df2["Fatalities"].rank()

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [137]:
df2

,country,ConfirmedCases,Fatalities,case_rank,fat_rank
Country_Region,,,,,
Afghanistan,Afghanistan,1225.0,29.0,77.0,99.0
Albania,Albania,2232.0,91.0,91.0,125.0
Algeria,Algeria,4828.0,324.0,113.0,147.0
Andorra,Andorra,2787.0,39.0,97.0,104.5
Angola,Angola,48.0,6.0,17.0,68.0
Antigua and Barbuda,Antigua and Barbuda,61.0,0.0,26.0,25.5
Argentina,Argentina,6529.0,158.0,121.0,134.0
Armenia,Armenia,4099.0,12.0,110.0,81.0
Australia,Australia,36148.0,190.0,154.0,136.0
Austria,Austria,84821.0,626.0,161.0,154.0
Azerbaijan,Azerbaijan,1928.0,37.0,88.0,102.0
Bahamas,Bahamas,99.0,0.0,38.0,25.5
Bahrain,Bahrain,7932.0,41.0,127.0,108.0
Bangladesh,Bangladesh,546.0,49.0,60.5,111.0
Barbados,Barbados,255.0,0.0,52.0,25.5
Belarus,Belarus,1467.0,1.0,82.0,52.5
Belgium,Belgium,89035.0,3145.0,162.0,164.0
Belize,Belize,18.0,0.0,3.5,25.5
Benin,Benin,68.0,0.0,29.0,25.5
Bhutan,Bhutan,46.0,0.0,14.5,25.5
Bolivia,Bolivia,682.0,11.0,65.0,77.5
Bosnia and Herzegovina,Bosnia and Herzegovina,2826.0,50.0,98.0,112.5
Brazil,Brazil,37132.0,976.0,155.0,159.5
Brunei,Brunei,1688.0,4.0,84.0,60.5
Bulgaria,Bulgaria,3576.0,71.0,106.0,119.5
Burkina Faso,Burkina Faso,1901.0,86.0,87.0,123.0
Cabo Verde,Cabo Verde,49.0,8.0,18.0,70.0
Cambodia,Cambodia,1259.0,0.0,78.0,25.5
Cameroon,Cameroon,1067.0,24.0,75.0,92.5
Canada,Canada,52048.0,554.0,159.0,153.0
...,...,...,...,...,...
Slovakia,Slovakia,3440.0,4.0,103.0,60.5
Slovenia,Slovenia,8609.0,83.0,128.0,122.0
Somalia,Somalia,29.0,0.0,7.0,25.5
South Africa,South Africa,10173.0,12.0,129.0,81.0
Spain,Spain,742697.0,54579.0,170.0,171.0
Sri Lanka,Sri Lanka,1505.0,6.0,83.0,68.0
Sudan,Sudan,53.0,21.0,22.5,90.0
Suriname,Suriname,88.0,0.0,33.0,25.5
Sweden,Sweden,43921.0,945.0,156.0,158.0
Switzerland,Switzerland,155137.0,2566.0,164.0,162.0
Syria,Syria,52.0,5.0,20.5,64.0
Taiwan*,Taiwan*,4545.0,63.0,112.0,115.0
Tanzania,Tanzania,163.0,1.0,48.0,52.5
Thailand,Thailand,14506.0,72.0,140.0,121.0
Timor-Leste,Timor-Leste,10.0,0.0,1.0,25.5
Togo,Togo,278.0,5.0,54.0,64.0
Trinidad and Tobago,Trinidad and Tobago,757.0,16.0,68.0,86.5
Tunisia,Tunisia,2476.0,64.0,95.0,116.0
Turkey,Turkey,58776.0,976.0,160.0,159.5
US,US,1082264.0,18071.0,171.0,168.0
Uganda,Uganda,211.0,0.0,51.0,25.5
Ukraine,Ukraine,3064.0,89.0,101.0,124.0
United Arab Emirates,United Arab Emirates,5795.0,32.0,115.0,100.0
United Kingdom,United Kingdom,165706.0,9122.0,165.0,167.0
Uruguay,Uruguay,2730.0,3.0,96.0,57.5
Uzbekistan,Uzbekistan,1062.0,9.0,74.0,72.0
Venezuela,Venezuela,1296.0,11.0,80.0,77.5
Vietnam,Vietnam,2930.0,0.0,99.0,25.5
Zambia,Zambia,194.0,0.0,49.0,25.5
Zimbabwe,Zimbabwe,53.0,9.0,22.5,72.0